
@{
    ViewData["Title"] = "MileageCal";
}

<h1>MileageCal</h1>

<form action="../Calculator/Result" method="post">
    <input type="number" name="mpg" />
    <input type="number" name="gallons" />
    <input type="submit" value="Submit" />
</form>

